*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

/* changes the body background colour */
body{
    background-color: hsl(0, 0%, 10%);
}

/* targets all the buttons */
/* couldn't target buttons, so targettting .btn instead */
.btn{
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 5px;
}

.btn-info{
    /* color: white; */
}

.btn-danger, .btn-info{
    cursor: pointer;
}

h1{
    font-size: 3.5rem;
    color: white;
}

/* targets the input box */
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
}

/* targets the ordered list */

ol{
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
}

li{
    font-size: 1.75rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 4%, 86%, 0.759);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.text{
    /* ensures that the task name takes up as much sapce as possible */
    flex: 1;
}

.delete-button, .move-button, .btn-outline-warning{
    padding: 8px 12px;
    font-size: 1.25rem;
    margin-left: 10px;
}